<!DOCTYPE html>
<footer class="footer table-dark">
    
    <div class="container">
        
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <b>James Garloff - FullStack Web Development. </b>
            </li>
            <li>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li class="nav-item">
               <a class="footer-link footer-link:hover" href="#/" ng-click="gotoAnchor(0)">Home </a>
            </li>
            <li>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </li>
                <li class="nav-item">
                <a class="footer-link footer-link:hover" href="#/about" ng-click="gotoAnchor(0)">About </a>
            </li>
            <li>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li class="nav-item">
                <a  class="footer-link footer-link:hover" href="#/contact" ng-click="gotoAnchor(0)">Contact</a>
            </li>
        </ul>
    </div>
    
</footer>
