
<!DOCTYPE html>
<header class="v-header container" >
    <div class="fullscreen-video-wrap">
        <div style="height: 305px" >
        <video src="video\Code_flythough_loop_01_Videvo.mov" autoplay="true" loop="true" preload="auto" id="hdrVideo" />
        </div>
        <div class="header-overlay"></div>
        <div class="header-content align-self-center in-middle">
            <h1>
                <img class="header-primary1-logoonly" src="images\logoonlybeveledtransbg.gif"/>
                <span class="header-primary1">James</span>
                <span class="header-primary-line">|</span>
                <span class="header-primary2"> Garloff</span>
            </h1>
            <h2> Web Development</h2>
            <p>Available for: Permanent Hire and Freelance Work</p>
            <a class="btn" ng-click="gotoAnchor(1)" >Find Out More</a>
        </div>
    </div>
</header>

<section class="section section-a" id="anchor1">
    <br/>
    <br/>
    
    <div class="container" >

        <div class="row ">
            <div class="col-lg-12 col-md-4">
                <h3 ><i class="fa fa-check-circle"></i> Built with:</h3>
                <br/>
                <h4 class="grey-shell1">
                    <img src="images\angularjs1.gif" class="builtwith-logo"/>
                        AngularJS, 
                    <img src="images\htmlcssbootstrap.gif" class="builtwith-logo"/>
                        HTML5 / CSS3 / Bootstrap4, 
                    <img src="images\javascript.gif" class="builtwith-logo"/>
                        JavaScript (ECMA6) 
                </h4>
                
                <div class="note-beingupdgradetoang6">*Note: Site is undergoing upgrade to Angular 6</div>
                <br/>
                
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</section>
<!-- /.section -->


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Demos of Personal Projects</h2>
                <hr>
            </div>
       
        
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                Css Grid Example
                <a class="link" href="#/demo1-cssgrid">
                    <div class="grey-shell">
                        <img src="images\demo1-cssgrid.gif" class="demo1" />
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                Login Authentication 
                <a class="link" href="#/demo2-authentication">
                    <div class="grey-shell">
                        <img src="images\demo2-authentication.gif" class="demo1" />
                    </div>
                </a>
             </div>
             <div  class="col-lg-4 col-md-4 col-sm-6">
                Data Grid            
                <a class="link" href="#/demo3-datagrid">
                    <div class="grey-shell">
                        <img src="images\demo3-datagrid.gif" class="demo1" />
                    </div>
                </a>
             </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>&nbsp;</h2>
                <hr>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<!-- /.section -->


 